<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @establishment_type.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @establishment_type.description %>
</p>

<%= link_to 'Edit', edit_establishment_type_path(@establishment_type) %> |
<%= link_to 'Back', establishment_types_path %>
