<%= form_for @deal, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <%= f.label :title, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :title, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :title, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :title, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :restrictions, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :restrictions, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :time_start, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.date_select :time_start, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :time_end, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.date_select :time_end, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :up_votes, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :up_votes, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :down_votes, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :down_votes, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :day, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :day, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :start_date, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.date_select :start_date, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :end_date, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.date_select :end_date, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  deals_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
