<%- model_class = Deal -%>
<div class="page-header">
  <h1><%=t '.title', :default => Deal %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:restrictions) %></th>
      <th><%= model_class.human_attribute_name(:time_start) %></th>
      <th><%= model_class.human_attribute_name(:time_end) %></th>
      <th><%= model_class.human_attribute_name(:up_votes) %></th>
      <th><%= model_class.human_attribute_name(:down_votes) %></th>
      <th><%= model_class.human_attribute_name(:day) %></th>
      <th><%= model_class.human_attribute_name(:start_date) %></th>
      <th><%= model_class.human_attribute_name(:end_date) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @deals.each do |deal| %>
      <tr>
        <td><%= deal.id %></td>
        <td><%= deal.title %></td>
        <td><%= deal.title %></td>
        <td><%= deal.restrictions %></td>
        <td><%= deal.time_start %></td>
        <td><%= deal.time_end %></td>
        <td><%= deal.up_votes %></td>
        <td><%= deal.down_votes %></td>
        <td><%= deal.day %></td>
        <td><%= deal.start_date %></td>
        <td><%= deal.end_date %></td>
        <td><%=l deal.created_at, format: :long %></td>
        <td>
          <%= link_to deal_path(deal), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to deal_path(deal), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_deal_path,
            :class => 'btn btn-primary' %>
