<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @deal.title %>
</p>

<p>
  <strong>Title:</strong>
  <%= @deal.title %>
</p>

<p>
  <strong>Restrictions:</strong>
  <%= @deal.restrictions %>
</p>

<p>
  <strong>Time start:</strong>
  <%= @deal.time_start %>
</p>

<p>
  <strong>Time end:</strong>
  <%= @deal.time_end %>
</p>

<p>
  <strong>Up votes:</strong>
  <%= @deal.up_votes %>
</p>

<p>
  <strong>Down votes:</strong>
  <%= @deal.down_votes %>
</p>

<p>
  <strong>Day:</strong>
  <%= @deal.day %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @deal.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @deal.end_date %>
</p>

<p>
  <strong>User:</strong>
  <%= @deal.user %>
</p>

<p>
  <strong>Establishment:</strong>
  <%= @deal.establishment %>
</p>

<p>
  <strong>Deal type:</strong>
  <%= @deal.deal_type %>
</p>

<%= link_to 'Edit', edit_deal_path(@deal) %> |
<%= link_to 'Back', deals_path %>
