<%= form_for(@deal_type) do |f| %>
  <% if @deal_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@deal_type.errors.count, "error") %> prohibited this deal_type from being saved:</h2>

      <ul>
      <% @deal_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
