<%- model_class = Establishment -%>
<div class="page-header">
  <h1><%=t '.title', :default => Establishment %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:rating) %></th>
      <th><%= model_class.human_attribute_name(:address) %></th>
      <th><%= model_class.human_attribute_name(:city) %></th>
      <th><%= model_class.human_attribute_name(:state) %></th>
      <th><%= model_class.human_attribute_name(:zip) %></th>
      <th><%= model_class.human_attribute_name(:neighborhoods) %></th>
      <th><%= model_class.human_attribute_name(:hours) %></th>
      <th><%= model_class.human_attribute_name(:price) %></th>
      <th><%= model_class.human_attribute_name(:phone) %></th>
      <th><%= model_class.human_attribute_name(:bar) %></th>
      <th><%= model_class.human_attribute_name(:facebook) %></th>
      <th><%= model_class.human_attribute_name(:menu) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @establishments.each do |establishment| %>
      <tr>
        <td><%= establishment.id %></td>
        <td><%= establishment.name %></td>
        <td><%= establishment.description %></td>
        <td><%= establishment.rating %></td>
        <td><%= establishment.address %></td>
        <td><%= establishment.city %></td>
        <td><%= establishment.state %></td>
        <td><%= establishment.zip %></td>
        <td><%= establishment.neighborhoods %></td>
        <td><%= establishment.hours %></td>
        <td><%= establishment.price %></td>
        <td><%= establishment.phone %></td>
        <td><%= establishment.bar %></td>
        <td><%= establishment.facebook %></td>
        <td><%= establishment.menu %></td>
        <td><%=l establishment.created_at, format: :long %></td>
        <td>
          <%= link_to establishment_path(establishment), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to establishment_path(establishment), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_establishment_path,
            :class => 'btn btn-primary' %>
