<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @establishment.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @establishment.description %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @establishment.rating %>
</p>

<p>
  <strong>Address:</strong>
  <%= @establishment.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @establishment.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @establishment.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @establishment.zip %>
</p>

<p>
  <strong>Neighborhoods:</strong>
  <%= @establishment.neighborhoods %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @establishment.hours %>
</p>

<p>
  <strong>Price:</strong>
  <%= @establishment.price %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @establishment.phone %>
</p>

<p>
  <strong>Bar:</strong>
  <%= @establishment.bar %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @establishment.facebook %>
</p>

<p>
  <strong>Menu:</strong>
  <%= @establishment.menu %>
</p>

<p>
  <strong>User:</strong>
  <%= @establishment.user %>
</p>

<p>
  <strong>Location:</strong>
  <%= @establishment.location %>
</p>

<p>
  <strong>Establishment type:</strong>
  <%= @establishment.establishment_type %>
</p>

<p>
  <strong>Checkin:</strong>
  <%= @establishment.checkin %>
</p>

<p>
  <strong>Following:</strong>
  <%= @establishment.following %>
</p>

<p>
  <strong>Favorites:</strong>
  <%= @establishment.favorites %>
</p>

<%= link_to 'Edit', edit_establishment_path(@establishment) %> |
<%= link_to 'Back', establishments_path %>
